body{font-family: 'Open Sans', Arial, sans-serif;}
.bg-blumart {background-color: #fdf250;}
a .font-menu-blumart {color:#005989;}
.nav-height {height:120px;}
.navbar {max-height: 120px;}

.page-header .page-header-image {background-position: top center; z-index: 0; padding-left: 25px; }
.header-space{height: 220px;}
.bt-bg-blu {background-color: #005989; padding: 10px;}
.icon-blu {color: #005989;}
.page-header.page-header-small {height:786px; max-height: 786px;}
.btn-blumart {border-color: #fff249 !important; color: #fff249 !important;}
.section-pd-0 {padding: 0 0 70px 0;}